#container
{
	margin: 0 30px;
	background-image:url(doge2.jpg);
}

#header
{
	background:  #D0B488;
	padding: 20px;
	text-align: center;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	background-color:#FFECD0;
	clear: left;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

#edito h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	background-color:#FFECD0;
	float: left;
	width: 40%;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

#footer
{
	clear: both;
	background:  #D0B488;
	text-align: right;
	padding: 20px;
	height: 1%;
}
